<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <link rel="icon" th:href="@{todo}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/vendor/uikit/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="/vendor/uikit/js/uikit.min.js"></script>
    <script src="/vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- Fontawesome CSS -->
    <!--  <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css"/> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    <!-- My Theme -->
    <link rel="stylesheet" th:href="@{/css/N-theme.css}"/>
    <link rel="stylesheet" th:href="@{/css/C-theme.css}"/>

    <meta charset="UTF-8">
    <title layout:fragment="title">Title</title>
</head>
<body>

<div layout:fragment="content"  >

</div>

</body>
</html>